@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


body {
    margin: 0;
    padding: 0;
    background-color: #916dd5;
}

#signup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Montserrat", sans-serif;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    background-color: #7151a9;
    padding: 50px 25px;
}

form input {
    width: 20vw;
    height: 40px;
    background-color: #916dd5;
    border: 0;
    border-radius: 4px;
    padding: 3px 10px;
    font-size: 1.05rem;
}

form input:hover, form input:focus {
    filter: brightness(0.95);
}

#message {
    text-align: center;
}

#message a {
    color: black;
}

#error {
    margin-top: 10px;
    width: 10vw;
    background-color: rgb(173, 5, 5);
    padding: 10px 20px;
    text-align: center;
    font-weight: bolder;
    font-size: 1.15rem;
}

#error:empty {
    display: none;
}