<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Новости</title>
</head>
<body>
    {% include "header.html" %}
    <div>
        <form action="/signup" method="post">
            {% csrf_token %}
            {{ form }}
            <input type="submit" value="Зарегистрироваться">
        </form>
        <p>
            {{ error }}
        </p>
        <h3>Уже есть аккаунт? <a href="/login">Войти</a></h3>
    </div>
</body>
</html>